@media screen and ( max-width: 1400px ), screen and ( max-height: 1100px ){
  body {
    font-size: 14px !important;
  }
  p .letter {
    font-size: 1.75em !important;
    left: -8% !important;
  }
  .answerbox p {
    margin-left: 9.5% !important;
    width: 90.5% !important;
  }
  .answerbox .bar-container {
    margin-left: 9.5% !important;
    width: 90.5% !important;
  }
}

@media screen and ( max-width: 1200px ), screen and ( max-height: 1000px ){
  body {
    font-size: 13px !important;
  }
  p .letter {
    font-size: 1.65 !important;
    left: -7.5% !important;
  }
  .answerbox p {
    margin-left: 9% !important;
    width: 91% !important;
  }
  .answerbox .bar-container {
    margin-left: 9% !important;
    width: 91% !important;
  }
}

@media screen and ( max-width: 1000px ), screen and ( max-height: 900px ){
  body {
    font-size: 11px !important;
  }
  p .letter {
    font-size: 1.55em !important;
    left: -7% !important;
  }
  .answerbox p {
    margin-left: 8.5% !important;
    width: 91.5% !important;
  }
  .answerbox .bar-container {
    margin-left: 8.5% !important;
    width: 91.5% !important;
  }
}

@media screen and ( max-width: 800px ), screen and ( max-height: 800px ){
  body {
    font-size: 9px !important;
  }
  p .letter {
    font-size: 1.45em !important;
    left: -6.5% !important;
  }
  .answerbox p {
    margin-left: 8% !important;
    width: 92% !important;
  }
  .answerbox .bar-container {
    margin-left: 8% !important;
    width: 92% !important;
  }
}
f
@media screen and ( max-width: 600px ), screen and ( max-height: 700px ){
  body {
    font-size: 8px !important;
  }
  p .letter {
    font-size: 1.35em !important;
    left: -6% !important;
  }
  .answerbox p {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
  .answerbox .bar-container {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
}

@media screen and ( max-width: 400px ), screen and ( max-height: 600px ){
  body {
    font-size: 7px !important;
  }
  p .letter {
    font-size: 1.25em !important;
    left: -5.5% !important;
  }
  .answerbox p {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
  .answerbox .bar-container {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
}

@media screen and ( max-width: 400px ), screen and ( max-height: 500px ){
  body {
    font-size: 6px !important;
  }
  p .letter {
    font-size: 1.15em !important;
    left: -5% !important;
  }
  .answerbox p {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
  .answerbox .bar-container {
    margin-left: 7.5% !important;
    width: 92.5% !important;
  }
}

body {
  background-color: #1C1D26;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  transition: 0.1s all linear, 1s background-color ease;
}

#intro-container {
  text-align: center;
  color: #FFF;
}

#start-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 10em;
  height: 2.5em;
  background-color: #3BACE7;
  font-size: 3.5em;
  color: #FFF;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 40px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 40px -25px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 40px -25px rgba(0,0,0,0.75);
}

#intro-container h2 {
  font-size: 5em;
}

#number-of-players-connected {
  font-size: 3.5em;
}

#player-list {
  line-height: 1.5em;
  list-style-type: none;
  font-size: 3em;
}

#player-list li:first-child {
  margin-top: -1em;
}

#start-button:hover {
  background-color: #1a95d5;
  color: #ebebeb;
}

.end-button {
  display: inline-block;
  float: right;
}

.reveal .slides > section > section {
  padding: 0;
}

section button {
  display: inline-block;
  width: 10em;
  height: 2.5em;
  font-size: 1.5em;
  background-color: #3BACE7;
  color: #FFF;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

section button:hover {
  background-color: #1a95d5;
  color: #ebebeb;
}

.start-stop-button {
  float: left;
}

.timer-container {
  font-size: 3.5em !important;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: #3BACE7;
  width: 3em;
  height: 3em;
  border: 0.125em solid white !important;
  border-radius: 50%;
  line-height: 3em !important;
}

.timer-container h3 {
  color: #FFF;
  font-size: inherit;
}

.reveal {
  text-align: center;
}

.reveal h2 {
  margin-top: 4.5em;
  margin-bottom: 1em;
  font-size: 3.5em !important;
  background-color: #FFF;
  color: #222;
  display: inline-block;
  padding: 1em;
  border-radius: 0.25em;
  -webkit-box-shadow: 0px 5px 50px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 50px -15px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 50px -15px rgba(0,0,0,0.75);
}

.reveal.center .slides section {
    min-height: 100% !important;
}

/*
colors:
blue - #3BACE7
darkblue - #2176AE
yellow - #FBE83B
red - #FE6847
green - #ACE73B
orange - #FFB850
*/

.present .answerbox, .past .answerbox, .future .answerbox {
  position: relative;
  padding: 0.5em;
  display: block;
  width:  50%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75em;
  height: 5em;
  background-color: #3BACE7;
  border-radius: 1em;
  line-height: 5em;
  transition: 1s background-color ease;
}

.answerbox p {
  color: #444;
  font-size: 2em;
  text-align: center;
  display: block;
  position: relative;
  border-radius: 0.5em;
  background-color: #FFF;
  margin-left: 10%;
  width: 90%;
}
 
.letter {
  font-size: 2em !important;
  position: absolute;
  left: -8.5%;
  width: 100%;
  text-align: left;
  color:  #FFF;
}

.selection-number {
  font-size: 3em !important;
  color: #FFF;
  position: absolute;
  top: 0;
  margin-left: 52% !important;
  margin-top: 0.125em !important;
}

.num-of-answers {
  margin-top: 1em !important;
  font-size: 3em !important;
  color: #FFF;
}

.answerbox .bar-container {
  position: relative;
  height: 5em;
  width: 90%;
  border-radius: 1em;
  margin-top: -5em;
  margin-left: 10%;
  background-color: #FFF;
  opacity: 0;
  transition: 1s opacity ease;
}

.answerbox .bar-container .bar {
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: 1em;
  background-color: #000;
  transition: 1s width ease;
}
