
table.rootQTable
{



}

table.subQTable
{

}


table.AnswersTable
{

}


div.subQDiv
{
  margin-left: 177px;

}





input.correctCheckbox
{

}


input.addSubQButton
{


}

input.addRootQButton
{
  width: 500px;
  height: 50px;

  margin-left: 67px;

}


input.questionField
{



}


input.timeLimitField
{



}

input.answerField
{



}

input.answerDescriptionField
{


}
