
header.major h2,
header.major h3,
header.major h4,
header.major h5,
header.major h6{
  margin: 0 0 0.5em 0;
  position: relative;
  text-align: center;
}

header.major p{
  margin: 0 0 6em 0;
  position: relative;
  text-align: center;
}

header.major {
  margin: 0 0 0.5em 0;
}

header.major:after {
  max-width: 40em;
  width: 40em;
  display: none;
}

h3.codeErrorLine{
  color: #b20000;
}

h3.right{
  text-align: right;
}

div.row{
  border-bottom: 1px solid white;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.hidden {
  display: none;
}

input.button.primary.right{
  margin-top: 10px;
  float: right;
}


.nav-element{
  border-bottom: 1px white solid;
  margin-bottom: 30px;
}
.nav-element a{
  display: inline-block;
  width: 100%;
  color: white;
  border: none;
  padding-top: 2px;
  padding-left: 12px;
  padding-bottom: 3px;
  font-size: 20px
}
.nav-element .active{
  color: #57b8ff!important;
  background: linear-gradient(#e6646500, #ffffff0d);
}
.nav-element a:hover{
  color: #57b8ff!important;
  background: linear-gradient(#e6646500, #ffffff0d);
}

@media only screen and (max-width: 736px) {
  #sidebar{
    display: none;
  }
}
@media only screen and (min-width: 736px) {
  #nav{
    display: none;
  }
}

#main {
  text-align: center;
}

#quizzesTable h3{
  text-align: left;
}

#quizzesTable .right{
  text-align: right !important;
  vertical-align: middle;
  line-height: 2em
}

#quizCodeForm input{
  width: 100%;
  margin-bottom: 0.5em;
  text-align: center;
}

#changeQuizIdRow:after{
  background: #2176ae;
  margin-bottom: 2em;
  content: '';
  display: inline-block;
  height: 0.2em;
  max-width: 50em;
  width: 100%;
}

#no-border.row{
  border-bottom: 0px;
}

#QuizCodeDiv h2,
#QuizCodeDiv h3,
#QuizCodeDiv h4,
#QuizCodeDiv h5,
#QuizCodeDiv h6{
  margin: 0 0 0.5em 0;
}
