

#no-border{
    border: none;
    margin-bottom: 4em;
}

.button.primary.right{
    float: right;
    width: 9em !important;
}

#quizzesTable .HostButton.button.small{
    margin-bottom: 1em;
}

#quizzesTable .EditButton.button.small{
    margin-bottom: 1em;
}

#quizzesTable .DeleteButton.button.small{
    background-color: #CC2400;
    border-color: red;
    margin-bottom: 1em;
    padding: 0 2.25em;
}

.row > .col-1 {
 width: 6em !important;
}

#nav input.button{
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
    background-color: #2176ae;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 300;
    color: #ffffff !important;
    border-radius: 4px;
    font-size: 100%;
    width: 100%;
}

}

.row > .col-2{
    width: 10% !important;
}

/* @media only screen and (min-width: 1101px){ */
#quizzesTable{
    text-align: left;
}

#no-border{
border: none;
margin-bottom: 3.5em;
}


#no-border input[type="text"]{
    color: white;
    font-weight: 500;
    text-align: center;
    width: 10em;
    margin-left: -4.5em;
    margin-right: 10em;
}

#no-border input[type="submit"]{
    float: right;
}

#no-border span{
    font-weight: 900;
color: #2176ae;
}

#nav input.button{
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
    background-color: #2176ae;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 300;
    color: #ffffff !important;
    border-radius: 4px;
    font-size: 100%;
    width: 100%;
}

header.major {
    margin: 0 0 2em 0;
}

header.major:after {
    background: #262732;
    max-width: 50em;
    width: 75%;
}

h3.right{
    margin: 0.3em 0 0.5em 0;
}

h3.codeErrorLine{
    text-align: center;
    color: #b30000;
}

.button.primary.right{
    float: right;
}

.row{
    margin: 0 0 2em 0;
    border-bottom: 3px solid #262732;
}

form {
    margin: 0 0 0.5em 0;
}
/*
} */

.input{
  margin-left: 2em;
}

.codeErrorLine{
    color: #ff2d00 !important;
    text-align: center !important;

}



input.button.primary{
    width: 13em !important;
}

input.button.primary.small{
  width: 6em !important;
}

#header{
display: inline-block;
float: right;
}

@media screen and (min-width: 2560px){
  .container{
    padding: 0 auto;
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 1439px){
}

@media screen and (max-width: 1023px){
}

@media screen and (max-width: 981px){
  #no-border input[type="text"]{
      color: white;
      font-weight: 500;
      text-align: center;
      width: 10em;
      margin-left: auto;
      margin-right: auto;
  }
  div#main.wrapper.style1{
    text-align: center;
  }
  #no-border input[type="submit"] {
    float: none;
  }
  .button.primary.right {
    float: none;
  }
  .row.gtr-0 > * {
    padding: 0 0 0.5em 0em;
        text-align: center;
  }
  @media screen and (max-width: 980px) {
    .row > .col-1 {
	  width: 6em;
	  left: 50%!important;
	  margin-left: auto;
	  margin-right: auto;

    }
  }
  		
}



