button.dragHandle
{
  height: 133px;
  width: 35px;
}


input.deleteQButton
{


}



table.rootQTable
{



}

table.subQTable
{

}


table.answersTable
{

}


div.subQDivWithButton
{
  position: relative;
  margin-left: 177px;
}




input.deleteRootQButton
{

}


input.hideSubQButton
{



}

}
input.correctCheckbox
{

}


input.addSubQButton
{


}

input.addRootQButton
{
  width: 500px;
  height: 50px;

  margin-left: 67px;

}


textarea.questionField
{
  width: 200px;
  height: 70px;


}

textarea.answerDescriptionField
{
  width: 200px;
  height: 70px;

}

select.timeLimitList
{



}

input.answerField
{



}



h1.quizHeader
{



}



div.orderDiv
{

}
