button.dragHandleSub
{
  height: 175px;
  width: 35px;
}

button.dragHandleRoot
{
  height: 175px;
  width: 35px;
}
input.deleteQButton
{


}



table.rootQTable
{



}

table.subQTable
{

}


table.ansTable
{
  width: 500px;
  height: 130px;
}


div.subQDivWithButton
{
  position: relative;
  margin-left: 177px;
}




input.deleteRootQButton
{

}


input.hideSubQButton
{



}

}
input.correctCheckbox
{

}


input.addSubQButton
{


}

button.addRootQButton
{
  width: 1050px;
  height: 70px;

}


textarea.questionField
{
  width: 400px;
  height: 125px;


}

textarea.feedbackField
{
  width: 200px;
  height: 100px;

}

select.timeLimitList
{



}

input.answerField
{
  width: 230px;
  height: 23px;


}



h1.quizHeader
{



}



div.orderDiv
{

}

div
{

}
