textarea
{
  resize: none;
}


p
{
  color: red;
}

button.dragHandleSub
{
  height: 175px;
  width: 35px;
}

button.dragHandleRoot
{
  height: 175px;
  width: 35px;
}
input.deleteQButton
{


}

/* css styling for validation of textboxes */
textarea {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}
textarea:optional {
  border-left-color: #999;
}
textarea:required {
  border-left-color: palegreen;
}
textarea:invalid {
  border-left-color: salmon;
}

input[type=text] {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}
input[type=text]:optional {
  border-left-color: #999;
}
input[type=text]:required {
  border-left-color: palegreen;
}
input[type=text]:invalid {
  border-left-color: salmon;
}



/*
input:valid
{
  border: 1px solid black;
}

textarea:valid
{
  border: 1px solid black;

}

input:invalid
{
 border: 2px dashed red;
}

textarea:invalid
{
  border: 2px dashed red;
}
*/


table.rootQTable
{



}

table.subQTable
{

}


table.ansTable
{
  width: 500px;
  height: 130px;
}


div.subQDivWithButton
{
  position: relative;
  margin-left: 177px;
}




input.deleteRootQButton
{

}


input.hideSubQButton
{



}

}
input.correctCheckbox
{

}


input.addSubQButton
{


}

button.addRootQButton
{
  width: 1050px;
  height: 70px;

}


textarea.questionField
{
  width: 400px;
  height: 125px;


}

textarea.feedbackField
{
  width: 200px;
  height: 100px;

}

select.timeLimitList
{



}

input.answerField
{
  width: 230px;
  height: 23px;


}



h1.quizHeader
{



}



div.orderDiv
{

}

div
{

}
